a {
  text-decoration: none !important;
}

h1,
h2,
h3 {
  font-family: system-ui;
}

.data-form {
  max-width: 400px;
  min-width: 400px;
  padding: 40px;
  border-radius: 8px;
  background: linear-gradient(115.89deg, #030d38 -5.19%, #000000 106.52%);
  margin: 0 auto;
  opacity: 0.8;
  /* margin-top: 100px; */
}

:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

.center {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.register-box{
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-top: 100px;

}
.reg-form{
  transform: none;
  width: 750px;
}
@media all and (max-width:760px) {
.reg-form {
  transform: none;
  width: 100%;
  padding: 10px;
}}

.data-form h1 {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}

.gradbtn {
  background: linear-gradient(172.16deg, #3d4f7f -32.85%, #18244e 90.32%);
  color: #fff;
  transition: 0.6s;
}

.gradbtn:hover {
  color: #fff;
  opacity: 0.8;
}

.registerbtn {
  color: white;
  margin: 0px 0 10px 0px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border-radius: 4px;
  background-color: #e3601c;
}
.btn-center {
  text-align: center;
}

.link-btn {
  border-color: transparent;
  background: transparent;
  color: #fff;
  padding: 0px;
  margin-left: 100px;
}

.link-btn:hover {
  text-decoration: underline;
}

.mb-10px {
  margin-bottom: 10px;
}

.pd-20px {
  padding: 20px;
}

button:focus {
  outline: 0;
}

.errormsg {
  color: #fb7373 !important;
  font-size: 11px;
}

.errormsg p {
  margin-bottom: 5px;
  font-size: 11px;
  color: #fb7373 !important;
}

.form-control {
  color: #323d64;
  border: 1px solid #efefef;
  padding: 10px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #374269;
  outline: 0;
  box-shadow: none;
}

.data-form .form-group {
  margin-bottom: 20px !important;
}

input {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  width: 100%;
  height: 40px;
  border-radius: 0.25rem;
}

.data-form a {
  color: #ff4302;
  text-decoration: none;
  margin-left: 10px;
}

.colortext {
  color: white;
}

.form-note {
  color: #e8e8e8;
  font-size: 12px;
  margin-bottom: 20px;
}

.tx-tfm {
  text-transform: uppercase;
}

.mybtn {
  border-radius: 50px;
}

/* .login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
} */

/* .span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
} */
/* 
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
} */

form .error {
  color: #ff0000;
}

.bg-clr {
  background-color: #ff8a6f;
  border-color: #ff8a6f;
  color: #fff;
}

.bg-clr:hover {
  color: #fff;
}

#passwords span {
  position: absolute;
  margin-top: -27px;
  right: 27px;
}

#confirmPasswords span {
  position: absolute;
  margin-top: -27px;
  right: 27px;
}

.card {
  border: 0px solid transparent;
  padding: 35px 20px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16), 0 3px 11px rgba(0, 0, 0, 0.23);
  border-radius: 25px;
}
label.col-form-label {
  font-weight: 500;
}